.district_img
{
   border-radius:50%
}
/* .hwll
{
 background-color:black 
} */
#decoration
{
   text-decoration: none;
}

#hover_div
{
   height: 200px;
   width: 200px;
   border: 1px solid black;
   display: none;
}
.ggf:hover #hover_div
{
   display: block;
}
.background
{
   background-color: #198754;
}

@media only screen and (max-width: 800px) {
   .back_text {
     color: lightblue;
     font-size: 15px;
     /* padding-top: 80px; */
     
   }
}

@media only screen and (max-width: 600px) {
   .back_text {
     color: lightblue;
     font-size: 10px;
     /* padding-top: 80px; */
     
   }
}